body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-inline: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.notification {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

.notification p {
  margin: 0;
}

.notification a {
  color: #007bff;
  text-decoration: none;
}

.notification a:hover {
  text-decoration: underline;
}
