{% extends 'base.html' %} {% block title %}Войти{% endblock %} {% block styles
%} {% endblock %} {% block content %}
<div class="row">
  <h1>Войти в аккаунт</h1>
  <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
</div>
<form method="POST" class="row">
  <div class="col-lg-6">
    <label class="form-label" for="login">Логин или почта:</label>
    <input
      class="form-control"
      type="text"
      id="login"
      name="login"
      required
      placeholder="Введите ваш логин или почту"
    />
    <label class="form-label mt-2" for="password">Пароль:</label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      required
      placeholder="Введите ваш пароль"
    />
    <button class="mt-4 btn btn-primary" type="submit">Войти</button>
  </div>
</form>
{% endblock %}
