{% extends 'base.html' %} {% block title %}Уведомления{% endblock %} {% block
content %}
<section class="container">
  <h1>Уведомления</h1>
  <div id="notifications-container">
    <!-- Здесь будут загружаться уведомления -->
  </div>
</section>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/notifications.css') }}"
/>
{% endblock %} {% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch('/get_notifications')
      .then((response) => response.json())
      .then((data) => {
        const container = document.getElementById('notifications-container');
        if (data.length === 0) {
          container.innerHTML = '<p>Нет новых уведомлений.</p>';
        } else {
          const list = document.createElement('ul');
          data.forEach((notification) => {
            const item = document.createElement('li');
            item.classList.add('notification');
            item.innerHTML = `<p>${notification.message}. Подробнее можно узнать по <a href="{{ url_for('index') }}">ссылке</a>.</p>`;
            list.appendChild(item);
          });
          container.appendChild(list);
        }
      })
      .catch((error) => {
        console.error('Ошибка при загрузке уведомлений:', error);
        document.getElementById('notifications-container').innerHTML =
          '<p>Ошибка при загрузке уведомлений.</p>';
      });
  });
</script>
{% endblock %}
